[mysqld]
sql-mode="STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER"
lower_case_table_names=2

# 主服务器设置，防止从服务器复制的表，多个重复设置该选型即可
#binlog-ignore-db is a master-side setting, it tells the Master not to log changes taking place on the listed DB.
#replicate-ignore-db is a slave-side setting, it tells the Slave to ignore incoming log information related to the listed DB
binlog-ignore-db=mysql,sys,information_schema,performance_schema
replicate-ignore-db=mysql,sys,information_schema,performance_schema


